.all-users{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.card {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card p {
    margin: 0;
  }
  
  .card p:first-child {
    margin-top: 0;
  }
  
  .card p:last-child {
    margin-bottom: 0;
  }
  
  /* Optional: Hover effect */
  .card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }