@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.howto{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.howto p{
    display:inline-block;
    width:50%;
    margin:5% auto;
    margin-top: 270px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    font-size: 22px;
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-style: normal;
    line-height:1.5em;
    background:#ffd300;
    border:dotted 5px hsla(0, 95%, 35%, 1);
}
@media (max-width: 1000px) {
    .howto {
        height: 40vh; /* Adjust height for smaller screens */
    }
    
    .howto p {

        width: 80%; /* Adjust width for smaller screens */
        margin-top: 370px; /* Adjust margin-top for smaller screens */
    }
}
