@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.list-container { 
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 32px;
  margin: 60px auto;
  border: 1px solid #641698;
  background:#ffd300;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.alternating-colors { padding-left: 50px; }
.alternating-colors li { 
  color: #4F4F4F; 
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-size: 20px;
  
  &:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute; 
    top: -12px;
    left: -36px;
  }
}

strong { color: #292929; }

ol.alternating-colors { 
  li:nth-child(odd):before { border-color: #0BAD02; }
  li:nth-child(even):before { border-color: #2378D5; }
}

@media (min-width: 915px){
  .all-boards{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  }
}