.all-questions{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 60px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 300px [col-start]);
}
@media (max-width: 915px){
    .container{
        display: grid;
        grid-template-columns: repeat(3, 250px [col-start]);
    }
   
}
@media (max-width: 800px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, 250px [col-start]);
    }
   
}