@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.all-questions{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 60px;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 300px [col-start]);
}


@media (max-width: 915px){
    .container{
        display: grid;
        grid-template-columns: repeat(3, 250px [col-start]);
    }
   
}
@media (max-width: 800px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, 250px [col-start]);
    }
   
}