*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #8381e3;

}

.footer {
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer a {
  text-decoration: none;
}