@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.footer{
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4e4cae;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    position: fixed;
}

.footer a{
    text-decoration: none;
    background-color: #4e4cae;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: small;
    color: aliceblue;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
}
.footer2{
    display: flex;
    gap: 20px;
}